<!DOCTYPE html>
<html lang="ko-kr">
<head>
  <% if(typeof mdfilename !== 'undefined') { %>
  <title> <%= mdfilename %></title>
  <% } else { %>
  <title> <%= title %> </title>
  <% } %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    body {
      font-family: "Nanum Gothic";
    }
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>

  <script>

    $( document ).ready(function() {
        //$( ".newpage" ).load( "README.md.html" );
        
        // $('#page-wrapper').html('<% content %>');

        let a1 = $('.content').height();
        let a2 = $('.col-sm-9').height();
        if(a1 < a2)$('.content').height(a2);
        // $('.nav').children.addClass('active');
        // class="active"
    });

  </script>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h3><%= title %></h3>
      <ul class="nav nav-pills nav-stacked">
        <% for(var i=0; i<list.length; i++) {%>
          <% let [name, property] = list[i]; %>
          <% if (property.type === "md") { %>
            <li><a href="<%= baseUrl %>/<%= name %>"><%= name %></a></li>
          <% } else if (property.type == "dir") { %>
            <!-- Add collapsible item -->
            <% let subList = property.files; %>
            <% let collapseId = "collapse"+i; %>
            <li><a data-toggle="collapse" href="<%="#"+collapseId %>" ><%= name %></a></li>
            <div id="<%= collapseId %>" class="panel-collapse collapse">
              <ul class="nav nav-pills nav-stacked">
              <% for (let j=0; j<subList.length; ++j) { %>
                <% let [subName, subProp] = subList[j]; %>
                <li><a href="<%= baseUrl %>/<%= name %>%2F<%= subName %>"><%= subName %></a></li>
              <% } %>
              </ul>
            </div>
          <% } %>
        <% } %>
        <% if(hasSwaggerDoc) { %>
        <li><a href="<%= baseUrl %>/swagger">swagger</a></li>
        <% } %>
      </ul><br>
    </div>
    <div class="col-sm-9" id="page-wrapper">
      <%- content %>
    </div>
  </div>
</div>
<footer class="container-fluid">
  <p>Footer Text</p>
</footer>
</body>
</html>
